@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #181818;
}

#container {
    display: flex;
    align-items: center;
    gap: 5.5rem;
    justify-content: center;
}

#img {
    width: 50rem;
    height: 40rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f3fafc;
    background-color: #262626;
    border-radius: 8px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center; /* Centraliza o conteúdo */
}

#title {
    font-size: 2.25rem;
    position: relative;
    text-align: center;
}

#title::after {
    position: absolute;
    content: '';
    background-color: #5806b6;
    width: 8rem;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.input-box label {
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 500;
    display: block;
    text-align: left;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff34;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
    width: 100%;
}

.input-field span,
.input-field i {
    color: #ffffff;
    font-size: 1.3rem;
    padding: 0.6rem;
}

.input-field input {
    background-color:  transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #6A0DAD;
    color: #ffffff;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

#calculate:hover {
    background-color: #5806b6;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color: #cdb5e1;
}

#description {
    width: 15.5rem;
    text-align: center;
}

#more_info {
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
    text-align: center;
}

#more_info a {
    color:#b606a7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}

#more_info a:hover {
    color: #cdb5e1;
}

.hidden {
    display: none;
}

.normal {
    color: #16a34a;
}

.attention {
    color: #dc2626;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    #calculator {
        width: 100%;
        padding: 1.5rem;
        border-radius: 0;
    }
}
